<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.secsvc.demo1"
	android:versionCode="1"
	android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="17"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<service
			android:name="GoodService"
			tools:ignore="ExportedService">

			<intent-filter>
				<action android:name="com.commonsware.android.secsvc.SOMETHING"/>
			</intent-filter>
		</service>
	</application>

</manifest>