<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.commonsware.tapoffnow"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name">
    <activity
      android:name="com.commonsware.tapoffnow.MainActivity"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
      android:name="com.commonsware.tapoffnow.AssistLoggerService"
      android:permission="android.permission.BIND_VOICE_INTERACTION">
      <meta-data
        android:name="android.voice_interaction"
        android:resource="@xml/assist_service"/>
      <intent-filter>
        <action android:name="android.service.voice.VoiceInteractionService"/>
      </intent-filter>
    </service>

    <service
      android:name="com.commonsware.tapoffnow.AssistLoggerSessionService"
      android:permission="android.permission.BIND_VOICE_INTERACTION"/>
  </application>

</manifest>
