<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.search"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="11"/>

	<supports-screens
		android:largeScreens="false"
		android:normalScreens="true"
		android:smallScreens="false"/>

	<application
		android:icon="@drawable/ic_launcher"
		android:label="Lorem Ipsum">
		<activity
			android:name=".LoremDemo"
			android:label="LoremDemo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

			<meta-data
				android:name="android.app.default_searchable"
				android:value=".LoremSearch"/>
		</activity>
		<activity
			android:name=".LoremSearch"
			android:label="LoremSearch"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<provider
			android:name=".LoremSuggestionProvider"
			android:authorities="com.commonsware.android.search.LoremSuggestionProvider"/>
	</application>

</manifest>