<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.commonsware.android.debug.webserver"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name="PicassoDiagnosticActivity"
      android:label="@string/picasso_diagnostics"
      android:taskAffinity="com.commonsware.android.debug.activity.PicassoDiagnosticActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service
      android:name="PicassoDiagnosticService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.commonsware.android.webserver.WEB_SERVER_SERVICE"/>
      </intent-filter>
    </service>
  </application>

</manifest>
