<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.activities"
	android:versionCode="1"
	android:versionName="1.0">

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"/>

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="14"/>

	<application
		android:icon="@drawable/ic_launcher"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
		<activity
			android:name=".LaunchDemo"
			android:label="LaunchDemo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>