<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsware.android.merger.lib">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

      <activity android:name="ThisActivityDoesNotExist">
        <intent-filter>
          <action android:name="com.commonsware.android.merger.lib.SOMETHING_COOL" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>

    </application>

</manifest>
