<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.commonsware.android.merger">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">
      <activity android:name="com.commonsware.android.merger.lib.ThisActivityDoesNotExist">
        <intent-filter>
          <action android:name="com.commonsware.android.merger.SOMETHING_VANILLA" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>

    </application>

</manifest>
