<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
		<activity
			android:name="com.commonsware.android.debug.util.PicassoDiagnosticActivity"
			android:label="@string/picasso_diagnostics"
			android:taskAffinity="com.commonsware.android.debug.activity.PicassoDiagnosticActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>
