<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.commonsware.android.maps"
          xmlns:android="http://schemas.android.com/apk/res/android">
          
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-sdk android:minSdkVersion="4"
            android:targetSdkVersion="11" />
  <application android:icon="@drawable/cw"
               android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps"
                  android:required="false" />
    <activity android:label="@string/app_name"
              android:name=".MapDetector"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:label="@string/app_name"
              android:name=".NooYawk" />
  </application>
  <supports-screens android:anyDensity="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true"
                    android:xlargeScreens="true" />
</manifest>