<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.rv.host"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="14"/>

	<permission
		android:name="com.commonsware.android.rv.host.ACT_AS_HOST"
		android:description="@string/host_desc"
		android:label="@string/host_label">
	</permission>
	<permission
		android:name="com.commonsware.android.rv.host.ACT_AS_PLUGIN"
		android:description="@string/plugin_desc"
		android:label="@string/plugin_label">
	</permission>

	<uses-permission android:name="com.commonsware.android.rv.host.ACT_AS_HOST"/>

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"/>

	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity
			android:name=".RemoteViewsHostActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>