<?xml version="1.0"?>
<manifest package="com.commonsware.android.browser4"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"/>

  <uses-sdk
    android:minSdkVersion="4"
    android:targetSdkVersion="14"/>

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:icon="@drawable/ic_launcher"
    android:usesCleartextTraffic="false">
    <activity
      android:name=".BrowserDemo4"
      android:label="BrowserDemo4">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>