<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.gcm.client"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="13"
		android:targetSdkVersion="17"/>

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true"/>

  <permission
    android:name="${applicationId}.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />
  <uses-permission
    android:name="${applicationId}.permission.C2D_MESSAGE" />

	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<receiver
			android:name="GCMBroadcastReceiverCompat"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>

        <category android:name="${applicationId}" />
			</intent-filter>
		</receiver>

		<service android:name=".GCMIntentService"/>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
	</application>

</manifest>
