<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.commonsware.android.tasks.roundrobin">

  <application android:allowBackup="true"
               android:label="@string/app_name"
               android:icon="@drawable/ic_launcher">
    <activity
      android:name=".FirstActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".SecondActivity">
    </activity>

  </application>

</manifest>
