@charset "utf-8";
/**/
h1, h2, h3 {
    text-align: center
    }
.chapnum {
    margin-top: 4 em
    }
.chaptitle {
    margin-bottom: 3 em
    }
.booknum {
    margin-top: 5 em
    }
p {
    text-align: justify
    }
/**/