<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.videorecord"
	android:versionCode="1"
	android:versionName="1.0">

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"/>

	<uses-feature
		android:name="android.hardware.microphone"
		android:required="true"/>
  <uses-feature
    android:name="android.hardware.camera"
    android:required="true"/>
	
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity
			android:name="MainActivity"
			android:label="@string/title_activity_main" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<provider
			android:name="LegacyCompatFileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
	</application>

</manifest>