<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.commonsware.android.cp.v4file"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="15"/>

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity
			android:name="FilesCPDemo"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<provider
			android:name="LegacyCompatFileProvider"
			android:authorities="com.commonsware.android.cp.v4file"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
	</application>

</manifest>
