<?xml version="1.0"?>
<manifest package="com.commonsware.android.skeleton"
          xmlns:android="http://schemas.android.com/apk/res/android">
          
  <application>
    <activity android:label="Now"
              android:name="Now">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
