<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.commonsware.android.sms.monitor"
	android:versionCode="1"
	android:versionName="1.0">

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="false"/>

	<uses-permission android:name="android.permission.RECEIVE_SMS"/>

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="19"/>

	<application
		android:icon="@drawable/cw"
		android:label="@string/app_name">
		<receiver
			android:name="Monitor"
			android:permission="android.permission.BROADCAST_SMS">
			<intent-filter android:priority="2">
				<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</receiver>

		<activity
			android:name="BootstrapActivity"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>