<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.commonsware.android.audio" android:versionCode="1" android:versionName="1.0">
          
  <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="6"/>
  <supports-screens android:largeScreens="false" android:normalScreens="true" android:smallScreens="false"/>
  <application android:icon="@drawable/cw">
    <activity android:label="AudioDemo" android:name=".AudioDemo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
