<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.commonsware.android.sawmonitor"
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application
    android:name=".MonitorApp"
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".PackageReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <action android:name="android.intent.action.PACKAGE_REPLACED" />

        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".WhitelistReceiver"
      android:enabled="true"
      android:exported="false" />

    <service
      android:name=".ToggleTileService"
      android:icon="@drawable/ic_new_releases_24dp"
      android:label="@string/app_name"
      android:enabled="@bool/is_n"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
      <meta-data
        android:name="android.service.quicksettings.ACTIVE_TILE"
        android:value="false" />
    </service>

    <service
      android:name=".PollingService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

</manifest>